---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://conch.joyent.us/validation
    method: GET
  response:
    body: '[{"created":"2018-03-27T21:36:37.215Z","description":"Validate expected
      number of reported USB HDDs","id":"70524097-891d-4772-8ad7-7610490e12fd","name":"usb_hdd_num","updated":"2018-03-27T21:36:37.215Z","version":1},{"created":"2018-03-27T21:36:37.251Z","description":"Validate
      the number of peer switches, the number of peer ports, and the\nexpected peer
      port according to the rack layout","id":"ede65bfa-d7ac-4b65-9224-cb0791b8d81d","name":"switch_peers","updated":"2018-03-27T21:36:37.251Z","version":1},{"created":"2018-03-27T21:36:37.254Z","description":"Validate
      that all non-USB disks report ''OK'' SMART status","id":"060f5993-252a-4e20-8fac-dba620e2[...]
