---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://conch.joyent.us/validation_plan
    method: GET
  response:
    body: '[{"created":"2018-04-12T20:10:17.963Z","description":"Validation plan containing
      all validations run in Conch v1 on switches","id":"16f0e1f3-2d3c-4f5d-b491-d8c2f597172a","name":"Conch
      v1 Legacy Plan: Switch"},{"created":"2018-04-12T20:10:18.004Z","description":"Validation
      plan containing all validations run in Conch v1 on switches","id":"469b8768-b99f-470c-8fc6-840fa9fcc477","name":"Conch
      v1 Legacy Plan: Server"}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://conch.joyent.us/workspace
    method: GET
  response:
    body: '[{"description":"Global workspace","id":"496f76b4-8245-4d41-8d97-42fe988401c5","name":"GLOBAL","parent_id":null,"role":"Administrator"},{"description":"SPC
      Korea","id":"b835a48d-068f-4c4b-9978-1317a74974b7","name":"ap-northeast-1","parent_id":"496f76b4-8245-4d41-8d97-42fe988401c5","role":"Administrator"},{"description":"SPC
      US-EAST-1","id":"9d374081-ba10-496e-88ed-c1fa2a51a7c2","name":"us-east-1","parent_id":"496f76b4-8245-4d41-8d97-42fe988401c5","role":"Administrator"},{"description":"SPC
      US-EAST-1 Expansion 1","id":"586f162e-2080-4fa7-a89e-d1ce958edd7b","name":"us-east-1-exp1","parent_id":"9d374081-ba10-496e-88ed-c1fa2a51a7c2","role":"DC
      Operations"},{"description":"SPC EU-CENTRAL-1 Expansion 1","id":"c3ecc8d3-c6c4-4692-99fd-2693dacc4d3d","name":"eu-central-1-exp1","parent_id":"2532a009-98af-45ca-8a6a-be619ebbcc08","role":"DC
      Operations"},{"description":"SPC EU-CENTRAL-1","id":"2532a009-98af-45ca-8a6a-be619ebbcc08","name":"eu-central-1","parent_id":"496f76b4-8245-4d41-8d97-42fe988401c5","role":"DC
      Operations"},{"description":"SPC Singapore","id":"e1a0b5e3-64c2-45b3-9b46-f17b71f89aa3","name":"ap-southeast-1","parent_id":"496f76b4-8245-4d41-8d97-42fe988401c5","role":"DC
      Operations"},{"description":"SPC Singapore Expansion 1","id":"a411bfdc-3609-4610-b433-dafd97c672ee","name":"ap-southeast-1-exp1","parent_id":"e1a0b5e3-64c2-45b3-9b46-f17b71f89aa3","role":"DC
      Operations"}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://conch.joyent.us/workspace/496f76b4-8245-4d41-8d97-42fe988401c5/device?ids_only=true
    method: GET
  response:
    body: '["3Q7PMK2","3P4VMK2","S247158X6B09961","4BWQMK2","4BYNMK2","9VL4XC2","4BZPMK2","S17496627626132","3PXRMK2","S17496627625406","8V4MRD2","S17496627625414","3P5VMK2","2C81XC2","3QBTMK2","S17496627630011","3PCTMK2","3PTVMK2","S308354X7A24069","3PMQMK2","3PWPMK2","3PLMMK2","4C0TMK2","3Q0VMK2","3K7VMK2","S174966276[...]
- request:
    body: '{ }'
    form: {}
    headers:
    url: https://conch.joyent.us/device/3Q7PMK2/validation_plan/16f0e1f3-2d3c-4f5d-b491-d8c2f597172a
    method: POST
  response:
    body: '[{"category":"BIOS","component_id":null,"device_id":"3Q7PMK2","hardware_product_id":"a57dcc91-d744-4a34-82b8-45add5569caa","hint":"Input
      data does not satisfy schema:\n{\n    properties   {\n        bios_version   {\n            type   \"string\"\n        }\n    },\n    required     [\n        [0]
      \"bios_version\"\n    ],\n    type         \"object\"\n}","id":null,"message":"Schema
      errors: /bios_version: Missing property.","status":"error","validation_id":"9e917323-431f-40bd-a1d0-000b5abd6d5a"},{"category":"BIOS","component_id":null,"device_id":"3Q7PMK2","hardware_product_id":"a57dcc91-d744-4a34-82b8-45add5569caa","hint":"Input
      data does not satisfy schema:\n{\n    properties   {\n        product_name   {\n            type   \"string\"\n        }\n    },\n    required     [\n        [0]
      \"product_name\"\n    ],\n    type         \"object\"\n}","id":null,"message":"Schema
      errors: /product_name: Missing property.","status":"error"[...]
